* {
    font-family: "League Spartan", sans-serif;
    text-align: center;
    color: black;
}

h1 {
    font-size: 5em;
}

img {
    margin: auto; display: block;
}

p {
    margin-left: 24em; margin-right: 24em;
}